.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all .5s;
}

.nav_black {
    background-color: #111;
}

.nav_logo {
    position: fixed;
    left: 20px;
    height: 40px;
    fill: red;
    object-fit: contain;
}

.avatar_logo {
    position: fixed;
    right: 20px;
    height: 50px;
    object-fit: contain;
}